<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NixAI Visual Configuration Builder</title>
    <link rel="stylesheet" href="/static/css/builder.css">
</head>
<body>
    <h1>NixAI Visual Configuration Builder</h1>
    <div id="builder-canvas">
        <!-- Drag-and-drop UI will be rendered here -->
    </div>
    <button id="load-config">Load Test Repo Config</button>
    <pre id="config-output"></pre>
    <script src="/static/js/config-builder.js"></script>
</body>
</html>
